<%= simple_form_for(@user_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, label_method: :email%>
    <%= f.input :name_ja %>
    <%= f.input :name_en %>
    <%= f.association :department, label_method: :name_ja %>
    <%= f.association :grade %>
    <%= f.input :tel %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
