<%- model_class = UserDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name_ja) %>:</strong></dt>
  <dd><%= @user_detail.name_ja %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name_en) %>:</strong></dt>
  <dd><%= @user_detail.name_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:department_name_ja) %>:</strong></dt>
  <dd><%= @user_detail.department.name_ja %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grade_name) %>:</strong></dt>
  <dd><%= @user_detail.grade.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tel) %>:</strong></dt>
  <dd><%= @user_detail.tel %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              welcome_index_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_detail_path(@user_detail), :class => 'btn btn-default' %>
